/* nav a {
    display: block;
    margin: 10px 0;
} */

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #1e1e2f;
    z-index: -1;
}

#contact-modal p {
    color: #4b4b4b;
}

#contact-modal a {
    color: #5a3d99;
}

#contact-modal a:hover {
    color: #7b5db3;
}

.about-photo {
    width: 300px;
    height: auto;
    border-radius: 10px;
    margin-top: 10px;
}
